.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #eae7e2;
}
 
.home-header1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: #eae7e2;
}
 
.home-desktop-menu {
  display: flex;
}
 
.home-navlink {
  display: contents;
}
 
.home-image10 {
  left: -162px;
  width: 53px;
  bottom: -6px;
  height: 53px;
  position: absolute;
  object-fit: cover;
  padding-right: 1px;
  text-decoration: none;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 693px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: #eae7e2;
}
 
.home-button {
  top: 430px;
  left: 541px;
}
 
.home-header2 {
  top: 178px;
  color: rgb(255, 255, 255);
  right: -4px;
  width: 100%;
  position: absolute;
  font-size: 90px;
  max-width: auto;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 108px;
}
 
.home-header3 {
  top: 178px;
  color: rgb(255, 255, 255);
  right: -4px;
  width: 100%;
  position: absolute;
  font-size: 90px;
  max-width: auto;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 108px;
}
 
.home-description1 {
  gap: 120px;
  width: 100%;
  height: 1170px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
 
.home-image11 {
  top: 90px;
  left: -2px;
  width: 360px;
  height: 450px;
  position: absolute;
  object-fit: cover;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header4 {
  top: 194px;
  left: var(--dl-space-space-unit);
  color: rgb(255, 255, 255);
  right: var(--dl-space-space-unit);
  width: auto;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image12 {
  right: -146px;
  width: 615px;
  bottom: 103px;
  height: 335px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image13 {
  left: -146px;
  width: 615px;
  bottom: 100px;
  height: 335px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-caption1 {
  top: 348px;
  left: 498px;
  color: rgb(87, 52, 18);
  width: 410px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 25px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-caption2 {
  top: 378px;
  left: 638px;
  color: rgb(87, 52, 18);
  width: 340px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 15px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-caption3 {
  top: 459px;
  left: 1176px;
  color: rgb(87, 52, 18);
  width: 340px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 15px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-caption4 {
  top: 429px;
  left: 895px;
  color: rgb(87, 52, 18);
  width: 529px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 25px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-image14 {
  top: 84px;
  right: -2px;
  width: 360px;
  height: 450px;
  position: absolute;
  object-fit: cover;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-description2 {
  gap: 120px;
  width: 100%;
  height: 651px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-end;
}
 
.home-video {
  left: 494px;
  width: 948px;
  bottom: 8px;
  height: 532px;
  position: absolute;
}
 
.home-header5 {
  top: 869px;
  left: 464px;
  color: rgb(167, 135, 122);
  width: 1006px;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header6 {
  top: 803px;
  left: 450px;
  color: rgb(255, 255, 255);
  width: 1006px;
  display: block;
  overflow: hidden;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image15 {
  width: 200px;
  object-fit: cover;
}
 
.home-image16 {
  width: 200px;
  object-fit: cover;
}
 
.home-link1 {
  display: contents;
}
 
.home-image17 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.home-link2 {
  display: contents;
}
 
.home-image18 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.home-header7 {
  top: 194px;
  left: var(--dl-space-space-unit);
  color: rgb(255, 255, 255);
  right: var(--dl-space-space-unit);
  width: auto;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.home-main {
  width: 100%;
  height: 154px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-logo {
  color: rgb(87, 52, 18);
}
 
.home-caption5 {
  left: 0px;
  color: #a7877a;
  width: 249px;
  bottom: -21px;
  position: absolute;
}
 
.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-twitter {
  text-decoration: none;
}
 
.home-image19 {
  width: 100px;
  object-fit: cover;
}
 
.home-discord {
  text-decoration: none;
}
 
.home-image20 {
  width: 100px;
  object-fit: cover;
}
 
.home-copyright {
  color: rgb(167, 135, 122);
}
 
@media(max-width: 767px) {
  .home-header2 {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
  .home-header3 {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
}
 
@media(max-width: 430px) {
  .home-header1 {
    overflow: hidden;
  }
  .home-navbar {
    width: 100%;
    overflow: hidden;
  }
  .home-image10 {
    top: 31px;
    left: 28px;
  }
  .home-hero {
    height: 606px;
    overflow: hidden;
  }
  .home-button {
    top: 395px;
    left: 24px;
    width: 381px;
    position: absolute;
    animation-name: fadeInUp;
    animation-duration: 2s;
  }
  .home-header2 {
    top: 223px;
    left: 241px;
    color: #573412;
    width: 104px;
    position: absolute;
    font-size: 45px;
    max-width: 100%;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: 40px;
    animation-name: slideInLeft;
    animation-delay: 0s;
    animation-direction: normal;
    animation-timing-function: ease;
  }
  .home-header3 {
    top: 61px;
    left: 161px;
    width: 104px;
    font-size: 45px;
    max-width: 100%;
    text-align: left;
    font-family: Poppins;
    line-height: 40px;
    animation-name: slideInLeft;
    animation-delay: 0s;
    animation-direction: normal;
    animation-timing-function: ease;
  }
  .home-text10 {
    color: #573412;
  }
  .home-text12 {
    color: #a7877a;
  }
  .home-image11 {
    top: -6px;
    left: -95px;
  }
  .home-header4 {
    top: 509px;
    left: -4px;
    font-size: 30px;
    font-family: Poppins;
  }
  .home-text13 {
    color: #573412;
  }
  .home-text15 {
    color: #a7877a;
  }
  .home-image12 {
    right: -77px;
    width: 317px;
    bottom: 97px;
  }
  .home-image13 {
    left: -35px;
    width: 312px;
    bottom: 54px;
  }
  .home-caption1 {
    top: 609px;
    left: var(--dl-space-space-sixunits);
    color: rgb(87, 52, 18);
    right: 9px;
    width: 323px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Plus Jakarta Sans;
    font-weight: 200;
    line-height: 36px;
    padding-left: 0px;
  }
  .home-caption2 {
    top: 630px;
    left: 245px;
    right: -30px;
    width: 208px;
    font-size: 10px;
  }
  .home-caption3 {
    top: 693px;
    left: -1px;
    width: 112px;
    font-size: 10px;
  }
  .home-caption4 {
    top: 673px;
    left: -42px;
    color: rgb(87, 52, 18);
    width: 419px;
    font-size: 15px;
    font-style: normal;
    font-family: Plus Jakarta Sans;
    font-weight: 200;
    line-height: 36px;
    margin-right: 0px;
  }
  .home-image14 {
    top: 58px;
    right: -94px;
  }
  .home-description2 {
    height: 713px;
  }
  .home-video {
    top: 111px;
    left: 37px;
    width: 357px;
    height: 195px;
    overflow: hidden;
    position: absolute;
  }
  .home-header5 {
    top: 8px;
    left: 159px;
    color: rgb(167, 135, 122);
    width: auto;
    position: absolute;
    font-size: 35px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 108px;
  }
  .home-header6 {
    top: 1px;
    left: 26px;
    width: auto;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-family: Poppins;
    line-height: 40px;
  }
  .home-text16 {
    color: #573412;
  }
  .home-image15 {
    left: 75px;
    width: 100px;
    bottom: 89px;
    height: 100px;
    position: absolute;
    border-radius: 80%;
  }
  .home-image16 {
    left: 249px;
    width: 100px;
    bottom: 87px;
    height: 100px;
    position: absolute;
    border-radius: 80%;
  }
  .home-image17 {
    left: 110px;
    width: 25px;
    bottom: 45px;
    position: absolute;
  }
  .home-image18 {
    left: 287px;
    width: 25px;
    bottom: 45px;
    position: absolute;
  }
  .home-header7 {
    top: 419px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    font-size: 30px;
    font-family: Poppins;
  }
  .home-text18 {
    color: #573412;
  }
  .home-text20 {
    color: #a7877a;
  }
  .home-footer {
    overflow: hidden;
  }
  .home-copyright {
    color: rgb(167, 135, 122);
  }
}
 
@media(max-width: 390px) {
  .home-header1 {
    overflow: hidden;
  }
  .home-navbar {
    width: 456px;
    height: 94px;
    padding: var(--dl-space-space-unit);
    overflow: hidden;
  }
  .home-image10 {
    top: 28px;
    left: 54px;
    width: 42px;
    height: 42px;
    position: absolute;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-button {
    top: 282px;
    left: 61px;
    width: 276px;
    position: absolute;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-header2 {
    top: 104px;
    right: 0px;
    width: 100%;
    height: auto;
    font-size: 35px;
    max-width: 100%;
  }
  .home-header3 {
    top: 104px;
    right: 0px;
    width: 100%;
    height: auto;
    font-size: 35px;
    max-width: 100%;
  }
  .home-image11 {
    overflow: hidden;
  }
  .home-header4 {
    top: 5px;
    right: 56px;
  }
  .home-image12 {
    top: 586px;
    left: 54px;
    overflow: hidden;
  }
  .home-image13 {
    overflow: hidden;
  }
  .home-image14 {
    overflow: hidden;
  }
  .home-header7 {
    top: 5px;
    right: 56px;
  }
  .home-footer {
    width: 100%;
    overflow: hidden;
  }
}
