.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #eae7e2;
}
 
.home-header1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: #eae7e2;
}
 
.home-desktop-menu {
  display: flex;
}
 
.home-navlink1 {
  display: contents;
}
 
.home-image1 {
  left: -162px;
  width: 53px;
  bottom: -6px;
  height: 53px;
  position: absolute;
  object-fit: cover;
  padding-right: 1px;
  text-decoration: none;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 693px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #eae7e2;
}
 
.home-heading1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-caption1 {
  left: 90px;
  color: rgb(87, 52, 18);
  width: 252px;
  bottom: -241px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 20px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-button {
  top: 430px;
  left: 541px;
}
 
.home-header2 {
  top: 178px;
  color: rgb(255, 255, 255);
  right: -4px;
  width: 100%;
  position: absolute;
  font-size: 90px;
  max-width: auto;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 108px;
}
 
.home-text10 {
  color: #573412;
}
 
.home-text12 {
  color: #a7877a;
}
 
.home-text13 {
  color: #573412;
}
 
.home-description1 {
  gap: 120px;
  width: 100%;
  height: 1170px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
 
.home-image2 {
  top: 90px;
  left: -2px;
  width: 360px;
  height: 450px;
  position: absolute;
  object-fit: cover;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image3 {
  left: -146px;
  width: 615px;
  bottom: 100px;
  height: 335px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header3 {
  top: 194px;
  color: rgb(255, 255, 255);
  right: -25px;
  width: 100%;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text14 {
  color: #573412;
}
 
.home-text16 {
  color: #a7877a;
}
 
.home-text17 {
  color: #573412;
}
 
.home-image4 {
  right: -146px;
  width: 615px;
  bottom: 103px;
  height: 335px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-caption2 {
  top: 348px;
  left: 498px;
  color: rgb(87, 52, 18);
  width: 410px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 25px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-caption3 {
  top: 378px;
  left: 638px;
  color: rgb(87, 52, 18);
  width: 340px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 15px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-caption4 {
  top: 459px;
  left: 1176px;
  color: rgb(87, 52, 18);
  width: 340px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 15px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-caption5 {
  top: 429px;
  left: 895px;
  color: rgb(87, 52, 18);
  width: 529px;
  height: 44px;
  display: block;
  position: absolute;
  font-size: 25px;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  line-height: 36px;
  padding-bottom: 0px;
}
 
.home-header4 {
  top: 869px;
  left: 464px;
  color: rgb(167, 135, 122);
  width: 1006px;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-image5 {
  top: 84px;
  right: -2px;
  width: 360px;
  height: 450px;
  position: absolute;
  object-fit: cover;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header5 {
  top: 803px;
  left: 450px;
  color: rgb(255, 255, 255);
  width: 1006px;
  display: block;
  overflow: hidden;
  position: absolute;
  font-size: 50px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 108px;
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text18 {
  color: #573412;
}
 
.home-navlink2 {
  top: 1000px;
  left: 840px;
  width: 245px;
  bottom: 13px;
  margin-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
 
.home-description2 {
  gap: 120px;
  width: 100%;
  height: 651px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
 
.home-container2 {
  width: 1508px;
  height: 644px;
  display: block;
  overflow: hidden;
}
 
.home-container3 {
  display: contents;
}
 
.home-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.home-main {
  width: 100%;
  height: 154px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-logo {
  color: rgb(87, 52, 18);
}
 
.home-caption6 {
  left: 0px;
  color: #a7877a;
  width: 249px;
  bottom: -21px;
  position: absolute;
}
 
.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-twitter {
  text-decoration: none;
}
 
.home-image6 {
  width: 100px;
  object-fit: cover;
}
 
.home-discord {
  text-decoration: none;
}
 
.home-image7 {
  width: 100px;
  object-fit: cover;
}
 
.home-copyright {
  color: rgb(167, 135, 122);
}
 
@media(max-width: 767px) {
  .home-header2 {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
}
 
@media(max-width: 390px) {
  .home-header1 {
    overflow: hidden;
  }
  .home-navbar {
    width: 456px;
    height: 94px;
    padding: var(--dl-space-space-unit);
    overflow: hidden;
  }
  .home-image1 {
    top: 28px;
    left: 54px;
    width: 42px;
    height: 42px;
    position: absolute;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-caption1 {
    left: -82px;
    right: 48px;
    bottom: -142px;
    height: auto;
    position: absolute;
    font-size: 15px;
  }
  .home-button {
    top: 282px;
    left: 61px;
    width: 276px;
    position: absolute;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-header2 {
    top: 104px;
    right: 0px;
    width: 377px;
    height: auto;
    font-size: 35px;
    max-width: 100%;
  }
  .home-image2 {
    overflow: hidden;
  }
  .home-image3 {
    overflow: hidden;
  }
  .home-header3 {
    top: 5px;
    right: 56px;
  }
  .home-image4 {
    top: 586px;
    left: 54px;
    overflow: hidden;
  }
  .home-image5 {
    overflow: hidden;
  }
  .home-navlink2 {
    top: 282px;
    left: 61px;
    width: 276px;
    position: absolute;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container2 {
    width: 393px;
    height: 544px;
  }
  .home-footer {
    width: 100%;
    overflow: hidden;
  }
}
