.team-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #eae7e2;
}
 
.team-header1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: #eae7e2;
}
 
.team-desktop-menu {
  display: flex;
}
 
.team-navlink {
  display: contents;
}
 
.team-image1 {
  left: -162px;
  width: 53px;
  bottom: -6px;
  height: 53px;
  position: absolute;
  object-fit: cover;
  padding-right: 1px;
  text-decoration: none;
}
 
.team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.team-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 822px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #eae7e2;
}
 
.team-image2 {
  top: 235px;
  left: 849px;
  width: 323px;
  height: 329px;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
}
 
.team-image3 {
  top: 235px;
  left: 224px;
  width: 323px;
  height: 329px;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
}
 
.team-link1 {
  display: contents;
}
 
.team-image4 {
  top: 767px;
  left: 1243px;
  width: 28px;
  height: 28px;
  position: absolute;
  object-fit: cover;
  animation-name: slideInUp;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.team-link2 {
  display: contents;
}
 
.team-image5 {
  top: 767px;
  left: 605px;
  width: 28px;
  height: 28px;
  position: absolute;
  object-fit: cover;
  animation-name: slideInUp;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.team-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  flex-direction: column;
}
 
.team-main {
  width: 100%;
  height: 154px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.team-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
 
.team-heading {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.team-logo {
  color: #573412;
}
 
.team-copyright {
  color: #a7877a;
}
 
.team-caption {
  top: 42px;
  left: -1px;
  color: #a7877a;
  width: 249px;
  position: absolute;
}
 
.team-header2 {
  top: 660px;
  left: 1096px;
  color: rgb(167, 135, 122);
  width: 312px;
  position: absolute;
  font-size: 30px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
 
.team-header3 {
  top: 660px;
  left: 467px;
  color: #a7877a;
  width: 312px;
  position: absolute;
  font-size: 30px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
 
.team-header4 {
  top: 170px;
  left: 618px;
  color: rgb(255, 255, 255);
  width: 660px;
  position: absolute;
  font-size: 60px;
  max-width: auto;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 108px;
}
 
.team-text1 {
  color: #573412;
}
 
.team-text3 {
  color: #a7877a;
}
 
.team-text4 {
  color: #573412;
}
 
.team-header5 {
  top: 690px;
  left: 1098px;
  color: rgb(167, 135, 122);
  width: 312px;
  height: 40px;
  position: absolute;
  font-size: 20px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
 
.team-header6 {
  top: 690px;
  left: 468px;
  color: rgb(167, 135, 122);
  width: 312px;
  height: 77px;
  position: absolute;
  font-size: 20px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
 
@media(max-width: 430px) {
  .team-header1 {
    overflow: hidden;
  }
  .team-navbar {
    width: 100%;
    overflow: hidden;
  }
  .team-image1 {
    top: 27px;
    left: 27px;
  }
  .team-hero {
    height: 1201px;
  }
  .team-image2 {
    top: 720px;
    left: 54px;
    bottom: 105px;
    position: absolute;
  }
  .team-image3 {
    top: 236px;
    left: 54px;
    position: absolute;
  }
  .team-image4 {
    top: 748px;
    left: 205px;
  }
  .team-image5 {
    top: 1222px;
    left: 205px;
  }
  .team-footer {
    height: 245px;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .team-main {
    height: 194px;
  }
  .team-logo {
    left: 46px;
    bottom: -59px;
    position: absolute;
  }
  .team-copyright {
    left: 84px;
    bottom: 14px;
    position: absolute;
  }
  .team-caption {
    top: 77px;
    left: 44px;
    position: absolute;
  }
  .team-header2 {
    top: 1122px;
    left: 67px;
  }
  .team-header3 {
    top: 644px;
    left: 65px;
    position: absolute;
  }
  .team-header4 {
    top: 190px;
    left: -1px;
    width: 100%;
    position: absolute;
    font-size: 40px;
  }
  .team-header5 {
    top: 1152px;
    left: 67px;
  }
  .team-header6 {
    top: 672px;
    left: 67px;
    position: absolute;
  }
}
 
@media(max-width: 390px) {
  .team-header1 {
    overflow: hidden;
  }
  .team-navbar {
    width: 100%;
    height: 85px;
    padding: var(--dl-space-space-unit);
    overflow: hidden;
  }
  .team-image1 {
    top: 26px;
    left: 31px;
  }
  .team-mobile-menu {
    padding: 16px;
  }
  .team-hero {
    height: 1167px;
    overflow: hidden;
  }
  .team-image2 {
    top: 695px;
    left: 28px;
    position: absolute;
  }
  .team-image3 {
    top: 236px;
    left: 28px;
    position: absolute;
  }
  .team-image4 {
    top: 723px;
    left: 178px;
    position: absolute;
  }
  .team-image5 {
    top: 1182px;
    left: 178px;
    position: absolute;
  }
  .team-footer {
    width: 100%;
    height: 236px;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .team-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .team-logo {
    left: 38px;
    color: rgb(87, 52, 18);
    bottom: -62px;
    position: absolute;
  }
  .team-copyright {
    left: 63px;
    color: rgb(167, 135, 122);
    bottom: 10px;
    position: absolute;
  }
  .team-caption {
    top: 78px;
    left: 37px;
    color: rgb(167, 135, 122);
    position: absolute;
  }
  .team-header2 {
    top: 1083px;
    left: 37px;
    position: absolute;
    font-size: 25px;
  }
  .team-header3 {
    top: 624px;
    left: 40px;
    color: rgb(167, 135, 122);
    position: absolute;
    font-size: 25px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 108px;
  }
  .team-header4 {
    top: 178px;
    left: -2px;
    overflow: hidden;
    position: absolute;
    font-size: 40px;
    margin-left: 0px;
    animation-name: slideInDown;
    animation-delay: 0s;
    animation-duration: nulls;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .team-header5 {
    top: 650px;
    left: 37px;
    color: rgb(167, 135, 122);
    height: 31px;
    position: absolute;
    font-size: 15px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 108px;
  }
  .team-header6 {
    top: 1110px;
    left: 32px;
    height: 35px;
    position: absolute;
    font-size: 15px;
  }
}
